{{define "title"}}{{.title}}{{end}}
{{define "content"}}
<div aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{.page_tittle}}</li>
  </ol>
</div>
<div class="row">
  <div class="col-md-11">

  </div>
  <div class="col-md-1 text-right">
    <a href="/blog/create" class="btn btn-primary">Create</a>
  </div>
  <div class="col-md-12">
    <table class="table">
      <thead>
        <tr>
          <th width="3%">No</th>
          <th>Name</th>
          <th width="10%">Action</th>
        </tr>
      </thead>
      <tbody class="table-group-divider">
        {{range .blogs}}
        <tr>
          <th scope="row">{{.Id}}</th>
          <td><a href="/blog/show?id={{.Id}}">{{.Title}}</a></td>
          <td>
            <a href="/blog/edit?id={{.Id}}" class="btn btn-sm btn-warning">Edit</a>
            <a href="/blog/delete?id={{.Id}}" class="btn btn-sm btn-danger"
              onclick="return confirm('Delete Data')">Delete</a>
          </td>
        </tr>
        {{end}}
      </tbody>
    </table>
  </div>
</div>
{{end}}