{{define "title"}}{{.title}}{{end}}
{{define "content"}}
<div aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item active" aria-current="page">{{.page_tittle}}</li>
  </ol>
</div>
<div class="row">
  <div class="col-md-8">
    <figure>
      <blockquote class="blockquote">
        <h1>{{.blog.Title}}</h1>
      </blockquote>
      <figcaption class="blockquote-footer">
        Author : {{.blog.Author}}
      </figcaption>
    </figure>
    <p>{{ printf "%s" .blog.Content }}</p>
    <p>Tags : <b>{{.blog.Tags}}</b></p>
  </div>
  <div class="col-md-4">
    <blockquote class="blockquote">
      <h2>Berita Populer</h2>
    </blockquote>
    <ul class="list-group list-group-flush">
      {{range .blogs}}
      <li class="list-group-item"> <a href="/blog/show?id={{.Id}}"> {{.Title}}</a></li>
      {{end}}
    </ul>    
  </div>
</div>

{{end}}